
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pantalla-dividida {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.pantalla-dividida__formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: white;
}

.formulario__titulo {
    margin-bottom: 20px;
}

.formulario__contenido {
    width: 100%;
    max-width: 400px;
}

.formulario__campo {
    margin-bottom: 15px;
}

.formulario__label {
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
}

.formulario__input,
.formulario__select {
    width: 100%;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
    height: 50px;
}

.formulario__boton {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    height: 50px;
}

.pantalla-dividida__imagen {
    position: relative;
    overflow: hidden;
}

.pantalla-dividida__imagen-contenido {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pantalla-dividida__texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}