@import url(../components/custom_properties.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 90px 2fr;
    height: 100vh;
    font-family: var(--fuente-letra);
    grid-template-areas: 
        "header header"
        "sidebar main";
}

.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container{
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__logo{
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.nav__header{
    display: flex;
    align-items: center;
}

.header__lista{
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
}

.header__links{
    display: flex;
    text-decoration: none;
    margin-right: 20px;
    color: var(--color-letra-boton);
    gap: 10px;
    align-items: center;
}

.header__lista--link{
    border-right: solid 2px #000;
    padding-right: 20px;
}

.sidebar{
    grid-area: sidebar;
    display: flex;
    background-color: var(--color-fondo-sidebar);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--color-letra)
}

.sidebar__nav{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.boton__sidebar--nav{
    border: solid 2px var(--color-borde-botones);
    background-color: var(--color-fondo-boton-vista-admin);
    border-radius: 16px;
}

.sidebar__lista--link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-letra-boton-vista-admin);
    padding: 20px 20px;
    width: 100%;
    font-weight: bold;
}

.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #000000;
    justify-content: center;
    background-color: var(--color-fondo);
}

.titulo__main{
    display: flex;
    margin-bottom: 70px;
}

.main__grafico{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 60%;
    height: 400px;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    background-color: #ffffff;
    color:  #000000;
}

.barra__grafico_1 {
    display: flex;
    border: solid 1px #333;
    border-top: none;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 60px;
    background-color: rgb(255, 218, 96);
}

.barra__grafico_2 {
    display: flex;
    border: solid 1px #333;
    border-top: none;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    justify-content: center;
    height: 300px;
    width: 60px;
    align-items: center;
    background-color: #3ec2ff;
}

.barra__grafico_3 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    justify-content: center;
    display: flex;
    border: solid 1px #333;
    border-top: none;
    height: 100px;
    width: 60px;
    align-items: center;
    background-color: #cb72ff;
}

.barra__grafico_4 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    justify-content: center;
    display: flex;
    border: solid 1px #333;
    border-top: none;
    height: 200px;
    width: 60px;
    align-items: center;
    background-color: #68ffd2;
}


.numeros__grafico{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    margin-right: 10px;
}