@import url(../components/custom_properties.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 90px 2fr;
    height: 100vh;
    font-family: var(--fuente-letra);
    grid-template-areas: 
        "header header"
        "sidebar main";
}

.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container{
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__logo{
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.nav__header{
    display: flex;
    align-items: center;
}

.header__lista{
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
}

.header__links{
    display: flex;
    text-decoration: none;
    margin-right: 20px;
    color: var(--color-letra-boton);
    gap: 10px;
    align-items: center;
}

.header__lista--link{
    border-right: solid 2px #000;
    padding-right: 20px;
}

.sidebar{
    grid-area: sidebar;
    display: flex;
    background-color: var(--color-fondo-sidebar);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--color-letra)
}

.sidebar__nav{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.boton__sidebar--nav{
    background-color: var(--color-fondo-boton-vista-admin);
    border-radius: 16px;
}

.sidebar__lista--link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-letra-boton-vista-admin);
    padding: 20px 20px;
    width: 100%;
    font-weight: bold;
}

.main{
    grid-area: main;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 1px #000000;
    justify-content: center;
}

.main__titulo{
    display: flex;
    margin-bottom: 20px;
}

.main__items{
    
}

.main__grafico{
    width: 500px;
    height: 500px;
    border: solid 1px #333;
    border-radius: 250px;
    background: conic-gradient(
        #33ffbb 0% 20%,
        #ff6384 20%, 40%,   
        #36a2eb 40% 70%,
        #ffce56 70% 100%  
    )
}