@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --fuente-letra: "Poppins", sans-serif;
    --color-fondo: rgb(240, 248, 255);
    --color-fondo-sidebar: #2F3E46;
    --color-letra: #fff;
    --color-borde-formulario: #000;
    --color-fondo-boton: #000;
    --color-letra-boton-vista-admin: #000;
    --color-fondo-boton-vista-admin: #C6F1AB;
    --color-fondo-boton-evento: rgb(139, 170, 255);
    --color-fondo-option-rol: #f0f0f0;
    --color-borde-botones: #000;
    --color-marco-main: #000;
    --color-borde-card: #000;
    --color-fondo-formulario: #fff;
}