@import url(../components/custom_properties.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
}

.logo{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    align-items: center;
}

.imagen__logo{
    width: 200px;
    height: 200px;
    align-items: center;
}

.titulo__logo{
    align-items: center;
    font-family: var(--fuente-letra);
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: var(--color-fondo);
}

.formulario__contenido {
    width: 100%;
    max-width: 400px;
}

.formulario__campo {
    margin-bottom: 15px;
}

.formulario__label {
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
    font-family: var(--fuente-letra);
    font-size: 18px;
}

.formulario__input{
    width: 100%;
    padding: 8px;
    border: 1px solid var(--color-borde-formulario);
    border-radius: 10px;
    height: 60px;
}

.formulario__boton {
    width: 100%;
    padding: 10px;
    background-color: var(--color-fondo-boton);
    color: var(--color-letra);
    font-size: 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    height: 50px;
    font-family: var(--fuente-letra);
    margin-bottom: 10px;
    margin-top: 10px;
}


.olvido__contraseña{
    display: flex;
    justify-content: flex-end;
    font-family: var(--fuente-letra);
    padding-bottom: 20px;
}

.olvido__contraseña--link{
    text-decoration: none;
}