@import url(../components/custom_properties.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    display: grid;
    height: 100vh;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: var(--color-fondo);
}

.formulario__titulo {
    margin-bottom: 20px;
    font-family: var(--fuente-letra);
}

.formulario__contenido {
    width: 100%;
    max-width: 400px;
}

.formulario__campo {
    margin-bottom: 15px;
}

.formulario__label {
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
    font-family: var(--fuente-letra)
}

.formulario__input{
    width: 100%;
    padding: 8px;
    border: 1px solid var(--color-borde-formulario);
    border-radius: 4px;
    height: 50px;
}

.formulario__boton {
    width: 100%;
    padding: 10px;
    background-color: var(--color-fondo-boton);
    color: var(--color-letra);
    font-size: 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    height: 50px;
    font-family: var(--fuente-letra);
    margin-bottom: 10px;
    margin-top: 10px;
}