@import url(../components/custom_properties.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 90px 2fr;
    height: 100vh;
    font-family: var(--fuente-letra);
    grid-template-areas: 
        "header header"
        "sidebar main";
}

.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container{
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__logo{
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.nav__header{
    display: flex;
    align-items: center;
}

.header__lista{
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}

.header__links{
    display: flex;
    text-decoration: none;
    margin-right: 20px;
    color: var(--color-letra-boton);
    gap: 10px;
    align-items: center;
}

.header__lista--link{
    border-right: solid 2px #000;
    padding-right: 20px;
}

.sidebar{
    grid-area: sidebar;
    display: flex;
    background-color: var(--color-fondo-sidebar);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--color-letra)
}

.sidebar__nav{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.boton__sidebar--nav{
    border: solid 2px var(--color-borde-botones);
    background-color: var(--color-fondo-boton-vista-admin);
    border-radius: 16px;
}

.sidebar__lista--link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-letra-boton-vista-admin);
    padding: 20px 20px;
    width: 100%;
    font-weight: bold;
}

.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #000000;
    justify-content: center;
    background-color: var(--color-fondo);
}

.formulario__titulo{
    font-size: 22px;
    margin-bottom: 14px;
}

.buscador{
    display: flex;
    border: 2px solid var(--color-borde-formulario);
    border-radius: 20px;
    height: 60vh;
    width: 50vw;
    padding: 30px;
    background-color: var(--color-fondo-formulario);
}

.formulario__buscador{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.barra__busqueda{
    height: 55px;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid;
}

.boton__buscar{
    height: 34px;
    width: 90%;
    border-radius: 10px;
    font-size: 17px;
    background-color: var(--color-fondo-boton-evento);
    border: 2px solid var(--color-borde-botones);
    font-weight: 900;
}

.boton__buscar:hover{
    background-color: var(--color-fondo-boton-vista-admin);
    transition: all 0.3s ease;
    transform: scale(1.03);
}

.titulo__card{
    text-align: center;
    font-size: 25px;
}

.card__cliente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px var(--color-borde-card);
    border-radius: 20px ;
    padding: 30px;
    margin-top: 16px;
    height: 250px;
    width: 400px;
    gap: 10px;
}

.card__descripcion{
    display: flex;
    flex-direction: column;
    gap: 14px;
}