@import url(../components/custom_properties.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 90px 2fr;
    height: 100vh;
    font-family: var(--fuente-letra);
    grid-template-areas:
        "header header"
        "sidebar main";
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__logo {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.nav__header {
    display: flex;
    align-items: center;
}

.header__lista {
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}

.header__links {
    display: flex;
    text-decoration: none;
    margin-right: 20px;
    color: var(--color-letra-boton);
    gap: 10px;
    align-items: center;
}

.header__lista--link {
    border-right: solid 2px var(--color-negro);
    padding-right: 20px;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    background-color: var(--color-fondo-sidebar);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--color-letra)
}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.boton__sidebar--nav {
    border: solid 2px var(--color-borde-botones);
    background-color: var(--color-fondo-boton-vista-admin);
    border-radius: 16px;
}

.sidebar__lista--link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-letra-boton-vista-admin);
    padding: 20px 20px;
    width: 100%;
    font-weight: bold;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--color-negro);
    background-color: var(--color-fondo);
}

.titulo__main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.titulo__card {
    text-align: center;
}

.card__recepcionista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 2px var(--color-borde-card);
    border-radius: 20px;
    margin: 20px;
    padding: 15px;
    height: 240px;
    width: 500px;
    gap: 10px;
}

.card__descripcion {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.card__icons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.card__button--link {
    color: var(--color-letra-boton-vista-admin);
    font-size: 20px;
}