@import url(../components/custom_properties.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 90px 2fr;
    height: 100vh;
    font-family: var(--fuente-letra);
    grid-template-areas:
        "header header"
        "sidebar main";
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__logo {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.nav__header {
    display: flex;
    align-items: center;
}

.header__lista {
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}

.header__links {
    display: flex;
    text-decoration: none;
    margin-right: 20px;
    color: var(--color-letra-boton);
    gap: 10px;
    align-items: center;
}

.header__lista--link {
    border-right: solid 2px var(--color-negro);
    padding-right: 20px;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    background-color: var(--color-fondo-sidebar);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--color-letra)
}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.boton__sidebar--nav {
    border: solid 2px var(--color-borde-botones);
    background-color: var(--color-fondo-boton-vista-admin);
    border-radius: 16px;
}

.sidebar__lista--link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-letra-boton-vista-admin);
    padding: 20px 20px;
    width: 100%;
    font-weight: bold;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px var(--color-marco-main);
    justify-content: center;
    background-color: var(--color-fondo);
}

.formulario__titulo {
    font-size: 22px;
    margin-bottom: 14px;
}

.formulario__buscador {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.barra__busqueda {
    height: 49px;
    width: 90%;
    border-radius: 13px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid;
}

.boton__buscar {
    height: 46px;
    width: 100%;
    border-radius: 17px;
    font-size: 17px;
    background-color: var(--color-fondo-boton-evento);
    border: 2px solid var(--color-borde-botones);
    font-weight: 900;
}

.boton__buscar:hover {
    background-color: var(--color-fondo-boton-vista-admin);
    transition: all 0.3s ease;
    transform: scale(1.03);
}

.boton__limpiar {
    height: 55px;
    width: 70%;
    border-radius: 17px;
    font-size: 17px;
    background-color: var(--color-negro);
    border: 2px solid var(--color-blanco);
    font-weight: 900;
    color: var(--color-letra);
    cursor: pointer;
}

.boton__limpiar:hover {
    background-color: var(--color-fondo-boton-limpiar-hover);
    transition: all 0.3s ease;
    transform: scale(1.03);
}

.buscador__fila {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.boton__buscar {
    width: 70%;
    align-self: center;
}