@import url(../components/custom_properties.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    font-family: var(--fuente-letra);
}
