@import url(../components/custom_properties.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 90px 2fr;
    height: 100vh;
    font-family: var(--fuente-letra);
    grid-template-areas: 
        "header header"
        "sidebar main";
}

.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container{
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__logo{
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.nav__header{
    display: flex;
    align-items: center;
}

.header__lista{
    display: flex;
    gap: 30px;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
}

.header__links{
    text-decoration: none;
}


.sidebar{
    grid-area: sidebar;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--color-letra)
}

.sidebar__nav{
    line-height: 100px;
}

.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    line-height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: solid 1px #000000;
}