<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel administrador</title>
    <link rel="stylesheet" href="../css/components/admin_vista_ver_membresias.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="body">
    <header class="header"> 
        <div class="logo_container">
            <img class="header__logo" src="../assets/img/logo_power.png" alt="warrior_gym">
            <h1 class="titulo__logo">WARRIOR GYM</h1>
        </div>
    <nav class="nav__header">
        <ul class="header__lista">
            <div class="header__lista--link">
                <li>admin01</li>
            </div>

            <div class="header__lista--link">
                <li>administrador</li>
            </div>
            <li><a class="header__links" href="../index.html">cerrar sesion<i class="fas fa-door-open"></i></a></li>
        </ul>
    </nav>
    </header>

    <aside class="sidebar">
        <nav class="sidebar__nav">
            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="">Registrar recepcionistas</a>
            </div>

            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="/view/admin_membresias.html">Crear membresias</a>
            </div>

            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="/view/admin_estadisticas.html">Ver estadisticas</a>
            </div>
        </nav>
    </aside>

    <main class="main">

        <h1 class="titulo__main">Dashboard membresias creadas</h1>

        <div class="card__recepcionista">
            <div class="card__header">
                <h1 class="titulo__card">Membresia</h1>
            </div>

            <div class="card__descripcion">
                <p><b>Nombre:</b> Membresia mensual</p>
                <p><b>Valor:</b> 50000</p>
                <p><b>Fecha creacion:</b> 07/11/2025</p>
            </div>

            <div class="card__icons">
                <a href="" class="card__button--link">
                    <i class="fa-solid fa-eye"></i>
                </a>

                <a href="admin_vista_editar_membresias.html" class="card__button--link">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>

                <a href="" class="card__button--link">
                    <i class="fa-solid fa-trash"></i>
                </a>

            </div>

        </div>

        <div class="contenedor">

            <div class="ventana">
                <div class="mensaje__ventana">
                    <h1 class="titulo__ventana">Membresia mensual</h1>
                    <p><b>Nombre:</b> Membresia mensual</p>
                    <p><b>Valor:</b> 50000</p>
                    <p><b>Fecha creacion:</b> 07/11/2025</p>
                    <p><b>Descripcion:</b> No disponible</p>
                    <a href="admin_vista_membresias_creadas.html" class="cerrar">Cerrar</a> 
                </div>
            </div>
    </main>
</body>
</html>