<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel administrador</title>
    <link rel="stylesheet" href="../css/components/admin_estadisticas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="body">
    <header class="header"> 
        <div class="logo_container">
            <img class="header__logo" src="../assets/img/logo_power.png" alt="warrior_gym">
            <h1 class="titulo__logo">WARRIOR GYM</h1>
        </div>
    <nav class="nav__header">
        <ul class="header__lista">
            <div class="header__lista--link">
                <li>admin01</li>
            </div>

            <div class="header__lista--link">
                <li>administrador</li>
            </div>
            <li><a class="header__links" href="../index.html">cerrar sesion<i class="fas fa-door-open"></i></a></li>
        </ul>
    </nav>
    </header>

    <aside class="sidebar">
        <nav class="sidebar__nav">
            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="/view/admin_registrar.html">Registrar recepcionistas</a>
            </div>

            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="/view/admin_membresias.html">Crear membresias</a>
            </div>

            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="#">Ver estadisticas</a>
            </div>
        </nav>
    </aside>

    <main class="main">
        <h2 class="formulario__titulo">Selecciona la estadistica que quieres ver!</h2>
        <section class="estadisticas__contenedor">
            <div class="estadistica__card">
                <h3>Resumen membresias activas</h3>
                <a href="#" class="estadistica__boton">Visualizar</a>
            </div>
            <div class="estadistica__card">
                <h3>Ingresos por tipo de membresia</h3>
                <a href="#" class="estadistica__boton">Visualizar</a>
            </div>
            <div class="estadistica__card">
                <h3>Ventas por membresias en el mes</h3>
                <a href="#" class="estadistica__boton">Visualizar</a>
            </div>
        </section>
    </main>
</body>
</html>