<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel administrador</title>
    <link rel="stylesheet" href="../css/components/admin_membresias.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="body">
    <header class="header"> 
        <div class="logo_container">
            <img class="header__logo" src="../assets/img/logo_power.png" alt="warrior_gym">
            <h1 class="titulo__logo">WARRIOR GYM</h1>
        </div>
    <nav class="nav__header">
        <ul class="header__lista">
            <div class="header__lista--link">
                <li>admin01</li>
            </div>

            <div class="header__lista--link">
                <li>administrador</li>
            </div>
            <li><a class="header__links" href="../index.html">cerrar sesion<i class="fas fa-door-open"></i></a></li>
        </ul>
    </nav>
    </header>

    <aside class="sidebar">
        <nav class="sidebar__nav">
            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="/view/admin_crear_recepcionistas.html">Registrar recepcionistas</a>
            </div>

            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="#">Crear membresias</a>
            </div>

            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="/view/admin_estadisticas.html">Ver estadisticas</a>
            </div>
        </nav>
    </aside>

    <main class="main">
        <h2 class="formulario__titulo">Crea tus propias membresias!</h2>
        
        <form class="formulario" action="/view/admin_mensaje_membresias_creadas.html">
            <div class="campo_membresia">
                <label for="membresia" class="formulario__label">Tipo de membresia</label>
                <select name="membresia" id="membresia" class="formulario__input">
                    <option value="">Seleccione una membresia</option>
                    <option value="mensual">Mensual</option>
                    <option value="trimestral">Trimestral</option>
                    <option value="semestral">Semestral</option>
                    <option value="anual">Anual</option>
                </select>
            </div>

            <div class="campo_meses">
                <label for="number" class="formulario__label">Duracion en meses</label>
                <input id="number" name="number" class="formulario__input" required>
            </div>

            <div class="campo_precio">
                <label for="precio" class="formulario__label">Precio</label>
                <input id="precio" name="precio" class="formulario__input" required>
            </div>

            <div class="campo_descripcion">
                <label for="descripcion" class="formulario__label">Descripcion</label>
                <textarea name="descripcion" class="formulario__textarea" id="descripcion" maxlength="500"></textarea>
            </div> 
        
            <button type="submit" class="formulario__boton">Crear</button>
        </form>
    </main>
</body>
</html>