<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel administrador</title>
    <link rel="stylesheet" href="../css/components/admin_vista_membresias_activas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="body">
    <header class="header"> 
        <div class="logo_container">
            <img class="header__logo" src="../assets/img/logo_power.png" alt="warrior_gym">
            <h1 class="titulo__logo">WARRIOR GYM</h1>
        </div>
    <nav class="nav__header">
        <ul class="header__lista">
            <div class="header__lista--link">
                <li>admin01</li>
            </div>

            <div class="header__lista--link">
                <li>administrador</li>
            </div>
            <li><a class="header__links" href="../index.html">cerrar sesion<i class="fas fa-door-open"></i></a></li>
        </ul>
    </nav>
    </header>

    <aside class="sidebar">
        <nav class="sidebar__nav">
            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="/view/admin_crear_recepcionistas.html">Registrar recepcionistas</a>
            </div>

            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="">Crear membresias</a>
            </div>

            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="/view/admin_estadisticas.html">Ver estadisticas</a>
            </div>
        </nav>
    </aside>    

    <main class="main">

        <h1 class="titulo__main" >Membresias activas: 134</h1>

        <div class="numeros__grafico">
            <p>100</p>
            <p>90</p>
            <p>80</p>
            <p>70</p>
            <p>60</p>
            <p>50</p>
            <p>40</p>
            <p>30</p>
            <p>20</p>
            <p>10</p>
            <p>0</p>
        </div>

        <div class="main__grafico">
            <div class="barra__grafico_1">Mensual</div>
            <div class="barra__grafico_2">Trimestral</div>
            <div class="barra__grafico_3">Semestral</div>
            <div class="barra__grafico_4">Anual</div>
        </div>
    </main>
</body>
</html>