<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel administrador</title>
    <link rel="stylesheet" href="../css/components/admin_vista_ingresos_membresias.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="body">
    <header class="header"> 
        <div class="logo_container">
            <img class="header__logo" src="../assets/img/logo_power.png" alt="warrior_gym">
            <h1 class="titulo__logo">WARRIOR GYM</h1>
        </div>
    <nav class="nav__header">
        <ul class="header__lista">
            <div class="header__lista--link">
                <li>admin01</li>
            </div>

            <div class="header__lista--link">
                <li>administrador</li>
            </div>
            <li><a class="header__links" href="../index.html">cerrar sesion<i class="fas fa-door-open"></i></a></li>
        </ul>
    </nav>
    </header>

    <aside class="sidebar">
        <nav class="sidebar__nav">
            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="/view/admin_crear_recepcionistas.html">Registrar recepcionistas</a>
            </div>

            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="">Crear membresias</a>
            </div>

            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="/view/admin_estadisticas.html">Ver estadisticas</a>
            </div>
        </nav>
    </aside>    

    <main class="main">
        <div class="main__titulo" >
            <h1>Ingresos por mes</h1>
        </div>

        <div class="main__items">
            Mensual
        </div>

        <div class="main__items">
            Trimestral
        </div>

            <div class="main__items">
                Semestral
            </div>

            <div class="main__items">
                Anual
            </div>
        <div class="main__grafico">
            
        </div>
    </main>
</body>
</html>