<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel administrador</title>
    <link rel="stylesheet" href="../css/components/admin_crear_membresias.css">
    <link rel="stylesheet" href="../css/components/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body class="body">
    <input type="checkbox" id="menu-toggle" class="menu-toggle">

    <header class="header">
        <div class="logo_container">
            <label for="menu-toggle" class="hamburger">
                <span class="hamburger__linea"></span>
                <span class="hamburger__linea"></span>
                <span class="hamburger__linea"></span>
            </label>
            <img class="header__logo" src="../assets/img/logo_power.png" alt="warrior_gym">
            <h1 class="titulo__logo">WARRIOR GYM</h1>
        </div>
        <nav class="nav__header">
            <ul class="header__lista">
                <div class="header__lista--link">
                    <li>admin01</li>
                </div>

                <div class="header__lista--link">
                    <li>administrador</li>
                </div>
                <li><a class="header__links" href="../index.html">cerrar sesion<i class="fas fa-door-open"></i></a></li>
            </ul>
        </nav>
    </header>

    <label for="menu-toggle" class="sidebar__overlay"></label>

    <aside class="sidebar">
        <nav class="sidebar__nav">
            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="/view/admin_crear_recepcionistas.html">Registrar
                    recepcionistas</a>
            </div>

            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="">Crear membresias</a>
            </div>

            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="/view/admin_estadisticas.html">Ver estadisticas</a>
            </div>
        </nav>
    </aside>

    <main class="main">
        <a class="icono__agregar" href="/view/admin_membresias.html">
            <i class="fa-solid fa-square-plus"></i>
        </a>
        <p>Aun no has agregado ninguna membresia</p>
    </main>
</body>

</html>