<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear nueva contraseña</title>
    <link rel="stylesheet" href="../css/components/crear_nueva_contrasena.css"/>
</head>
<body>

<main class="contenedor">
    <section class="formulario">
        <h2 class="formulario__titulo">Escribe tu nueva contraseña</h2>
        
        <form class="formulario__contenido" action="../index.html">
            <div class="formulario__campo">
                <label for="password" class="formulario__label">Contraseña</label>
                <input id="password" name="password" class="formulario__input" required>
            </div>

            <div class="formulario__campo">
                <label for="password" class="formulario__label">Confirma contraseña</label>
                <input id="password" name="password" class="formulario__input" required>
            </div>

            <button type="submit" class="formulario__boton">Enviar</button>
        </form>
    </section>
</main>

</body>
</html>