<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enviar codigo</title>
    <link rel="stylesheet" href="../css/components/enviar_codigo.css"/>
</head>
<body>

<main class="contenedor">
    <section class="formulario">
        <h2 class="formulario__titulo">Coloca el codigo que te llego al correo ***38@gmail.com</h2>

        <form class="formulario__contenido" action="/view/crear_nueva_contrasena.html">
            <div class="formulario__campo">
                <label for="number" class="formulario__label">Codigo</label>
                <input id="number" name="number" class="formulario__input" required>
            </div>

            <button type="submit" class="formulario__boton">Enviar</button>
        </form>
    </section>
</main>

</body>
</html>