<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Control habits</title>
    <link rel="stylesheet" href="../css/components/olvidaste_contraseña.css"/>
</head>
<body>

<main class="contenedor">
    <section class="formulario">
        <h2 class="formulario__titulo">Ingresa tu correo para enviarte un correo</h2>
        <form class="formulario__contenido" action="../" method="POST">

            <div class="formulario__campo">
                <label for="email" class="formulario__label">Email</label>
                <input id="email" name="email" class="formulario__input" required>
            </div>

            <button type="submit" class="formulario__boton">Ingresar</button>
        </form>
    </section>
</main>

</body>
</html>