<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel recepcionista</title>
    <link rel="stylesheet" href="../css/components/recepcionista_cliente_encontrado.css">
    <link rel="stylesheet" href="../css/components/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body class="body">
    <input type="checkbox" id="menu-toggle" class="menu-toggle">

    <header class="header">
        <div class="logo_container">
            <label for="menu-toggle" class="hamburger">
                <span class="hamburger__linea"></span>
                <span class="hamburger__linea"></span>
                <span class="hamburger__linea"></span>
            </label>
            <img class="header__logo" src="../assets/img/logo_power.png" alt="warrior_gym">
            <h1 class="titulo__logo">WARRIOR GYM</h1>
        </div>
        <nav class="nav__header">
            <ul class="header__lista">
                <div class="header__lista--link">
                    <li>recep</li>
                </div>

                <div class="header__lista--link">
                    <li>recepcionista</li>
                </div>
                <li><a class="header__links" href="../index.html">cerrar sesion<i class="fas fa-door-open"></i></a></li>
            </ul>
        </nav>
    </header>

    <label for="menu-toggle" class="sidebar__overlay"></label>

    <aside class="sidebar">
        <nav class="sidebar__nav">
            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="/view/recepcionista_agregar_cliente.html">Registrar clientes</a>
            </div>

            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="">Validar accesos</a>
            </div>

            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="">Consultar estado clientes</a>
            </div>
        </nav>
    </aside>

    <main class="main">
        <h2 class="formulario__titulo">Siempre consulta antes de dejar ingresar!</h2>
        <form class="formulario__buscador" action="recepcionista_cliente_encontrado.html">
            <div class="buscador__fila">
                <input type="text" class="barra__busqueda" placeholder="Ingresa un documento" required>
                <a href="recepcionista_validar_acceso.html" class="boton__limpiar">Limpiar</a>
            </div>
            <button type="submit" class="boton__buscar">Buscar</button>
            <div class="card__cliente">
                <div class="card__header">
                    <h1 class="titulo__card">Cliente con acceso</h1>
                </div>

                <div class="card__descripcion">
                    <p><b>Nombre:</b> Carlos</p>
                    <p><b>Tipo:</b> Mensual</p>
                    <p><b>Dias membresia:</b> 20</p>
                    <img class="card__image" src="/assets/img/check.png" alt="">
                </div>
        </form>
    </main>
</body>

</html>