<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel administrador</title>
    <link rel="stylesheet" href="../css/components/vista_administrador.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="body">
    <header class="header"> 
        <div class="logo_container">
            <img class="header__logo" src="../assets/img/logo_power.png" alt="warrior_gym">
            <h1 class="titulo__logo">WARRIOR GYM</h1>
        </div>
    <nav class="nav__header">
        <ul class="header__lista">
            <div class="header__lista--link">
                <li>admin01</li>
            </div>

            <div class="header__lista--link">
                <li>administrador</li>
            </div>
            <li><a class="header__links" href="../index.html">cerrar sesion<i class="fas fa-door-open"></i></a></li>
        </ul>
    </nav>
    </header>

    <aside class="sidebar">
        <nav class="sidebar__nav">
            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="#">Registrar recepcionistas</a>
            </div>

            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="#">Crear membresias</a>
            </div>

            <div class="boton__sidebar--nav">
                <a class="sidebar__lista--link" href="#">Ver estadisticas</a>
            </div>
        </nav>
    </aside>

    <main class="main">
        <div class="mensaje__bienvenida">
            👋🏻 Bienvenido administrador, <strong>Carlos Ramirez</strong>!
        </div>

        <div class="mensaje__fecha">
            📅 Hoy es: <span id="fecha">17 de noviembre de 2025</span>
        </div>

        <div class="frase__motivacional">
            "La disciplina supera al talento cuando el talento no se disciplina"
        </div>
    </main>
</body>
</html>