<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel administrador</title>
    <link rel="stylesheet" href="../css/components/vista_administrador.css">
</head>
<body class="body">
    <header class="header"> 
        <div class="logo_container">
            <img class="header__logo" src="../assets/img/logo_power.png" alt="warrior_gym">
            <h1 class="titulo__logo">WARRIOR GYM</h1>
        </div>
    <nav class="nav__header">
        <ul class="header__lista">
            <li class="header__lista--link">admin01</li>
            <li class="header__lista--link">administrador</li>
            <li class="header__lista--link"><a class="header__links" href="../index.html">cerrar sesion</a></li>
        </ul>
    </nav>
    </header>

    <aside class="sidebar">
        <nav class="sidebar__nav">
            <ul class="sidebar__list--link">Registrar recepcionistas</ul>
            <ul class="sidebar__list--link">Crear membresias</ul>
            <ul class="sidebar__list--link">Ver estadisticas</ul>
        </nav>
    </aside>

    <main class="main">
        <div class="mensaje__bienvenida">
            👋🏻 Bienvenido administrador, <strong>Carlos Ramirez</strong>!
        </div>

        <div class="mensaje__fecha">
            📅 Hoy es: <span id="fecha">17 de noviembre de 2025</span>
        </div>

        <div class="frase__motivacional">
            "La disciplina supera al talento cuando el talento no se disciplina"
        </div>
    </main>
</body>
</html>